.App {
  text-align: center;
  background-color: #0F2100;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-style: bold;
}

.App-link {
  color: #61dafb;
}
.skateboards1{
  width: 754px;
  height: 490px; 
  padding-right: 40px;
  
}
.skateboards2{
  width: 754px;
  height: 490px;
  padding-left: 20px;
}

a.nav-link{
  font-size: 25px;
  font-style: bold!important;
  font-family: Roboto;
  color: white!important;
}

.navbar.text{
  color: white;
}

.carousel2{
  width: 900px;
  padding-right: 120px;
  
 
}

.jumbotron1{
  font-size: 10%!important;
 background-color: #0F2100;
 color: white;
 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
